.linklist
  display: inline-block
  list-style: none
  padding: 0
  margin: 0

.linklist-link
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0.5rem 0.25rem
  text-decoration: none
  color: $blue
  .icon
    width: 1.2em
    fill: currentColor
    transition: all 0.38s ease
    opacity: 0
    transform: translateX(30px) rotateZ(445deg)
  &:hover .icon
    opacity: 1;
    transform: initial;
