@font-face {
  font-family: 'Volte Rounded';
  font-display: swap;
  src: url('/static/fonts/3AA86B_0_0.eot');
  src: url('/static/fonts/3AA86B_0_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3AA86B_0_0.woff2') format('woff2'),
    url('/static/fonts/3AA86B_0_0.woff') format('woff'),
    url('/static/fonts/3AA86B_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Quasimoda';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/3AA86B_1_0.eot');
  src: url('/static/fonts/3AA86B_1_0.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/3AA86B_1_0.woff2') format('woff2'),
    url('/static/fonts/3AA86B_1_0.woff') format('woff'),
    url('/static/fonts/3AA86B_1_0.ttf') format('truetype');
}

@require 'styl'
